{%extends 'admin/base.html' %}

{%block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            账号列表
            <small>控制面板</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">总概览</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% for file in user%}
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <a href="{{ url_for('admin.modifyUserInfo',filename=filename) }}" class="small-box-footer">修改<i
                            class="fa fa-arrow-circle-right"></i></a>
                    <tr class="eva_8">
                        <a href="{{ url_for('admin.delete',filename=file[0]) }}"
                           onclick="javascript:return del()">删除</a>
                    </tr>
                    <div class="inner">
                        <h3>{{ file[1] }}</h3>
                        <p>{{file[0]}}</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{{ url_for('admin.allUserInfo',filename=file[0]) }}" class="small-box-footer">控制台<i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            {%endfor-%}
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quick Example</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.index') }}">
                         {% for message in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
                             上传成功
                        </div>
                        {% endfor %}
                        <div class="box-body">
                            <div class="form-group">
                                {{form.file}}
                                {% for error in form.file.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            {{form.csrf_token}}
                            {{form.commit}}
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>

        </div>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">添加账号</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form" action="{{url_for('admin.add')}}" method="POST">
                    <!-- text input -->
                    <div class="form-group">
                        <label>{{editorform.name.label}}</label>
                        {{editorform.name}}
                        {% for error in editorform.name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        {{editorform.text}}
                        {% for error in editorform.text.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ editorform.csrf_token }}
                    {{ editorform.commit }}
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
</div>
{%endblock%}
{% block script %}
<SCRIPT LANGUAGE=javascript>
    function del() {
        var msg = "确定要删除吗？\n\n请确认！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</SCRIPT>
{%endblock%}