{% macro dump_users(url,lines) -%}
<div class="row">
    <h3>
        <center><span class="label label-info">日志</span></center>
    </h3>
    <pre class="pre-scrollable">
        <code>
            <div id="output"></div>
                {{lines }}

        </code>
    </pre>
</div>
<script>
    var source = new EventSource("{{url}}");
    source.onmessage = function (event) {
        document.getElementById("output").innerHTML += event.data + "<br/>"
    }
</script>
<script type="text/javascript">
    $().ready(function () {
        var height = $(".pre-scrollable").outerHeight();
        $(".pre-scrollable").scrollTop(4294967296);
        $(".pre-scrollable").on("DOMNodeInserted", function () {
            var height = $(this).outerHeight();
            $(this).scrollTop(4294967296);
        });
    });
</script>
{%- endmacro %}

